.form-group {
	margin-bottom: 10px;
}

.label-currency {
	font-weight: bold;
}

.select-currency {
	margin: 0 5px;
}

.input-amount {
	width: 100%;
	padding: 5px;
}

.submit-button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #0056b3;
}
