html {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

@media (hover: hover) {
	.submit-button:hover {
		background-color: #0056b3;
	}
}

.container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	border: 10px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

.logo {
	width: 212px;
	height: 124px;
	margin: 0 auto;
	border: 7px solid #ccc;
	border-radius: 5px;
	background-size: cover;
	background-image: url(images/logo2.png);
}

.title {
	font-size: 30px;
	font-weight: 700;
	margin: 20px 0;
}
